
<!-- Header Partial -->

<header class="header">

    <div class="frame__top">

        <div class="frame-border--horizontal frame__top--border"></div>
        <img class="frame-floral frame-floral--top-middle-left" src="/media/graphic/global/frame-floral-top-middle-left.svg" alt="Graphic of one line art styled leaf">
        <a class="logo-link page-transition-target cursor-pointer" href="/index.html"><img class="logo" src="/media/graphic/global/logo-icon.svg" alt="Icon logo for Refresh Beauty Therapy"></a>
        <div class="frame-border--horizontal frame__top--border"></div>
        <img class="frame-floral frame-floral--top-middle-right" src="/media/graphic/global/frame-floral-top-middle-right.svg" alt="Graphic of one line art styled leaf">

    </div>
    <div class="frame__right">

        <img class="frame-floral frame-floral--right-corner-top" src="/media/graphic/global/frame-floral-right-corner-top.svg" alt="Graphic of three line art styled leaves">
        <img class="frame-floral frame-floral--right-middle-top" src="/media/graphic/global/frame-floral-right-middle-top.svg" alt="Graphic of one line art styled leaf">
        <div class="frame-border--vertical frame-border--vertical-right"></div>
        <a class="frame__booking page-transition-target cursor-pointer" href="/"><h5 class="frame__booking-text">Book Today</h5></a>
        <div class="frame-border--vertical frame-border--vertical-right"></div>
        <img class="frame-floral frame-floral--right-middle-bottom" src="/media/graphic/global/frame-floral-right-middle-bottom.svg" alt="Graphic of one line art styled leaf">
        <img class="frame-floral frame-floral--right-corner-bottom" src="/media/graphic/global/frame-floral-right-corner-bottom.svg" alt="Graphic of two line art styled leaves">

    </div>
    <div class="frame__bottom">

        <div class="frame-border--horizontal frame__bottom--border"></div>
        <div class="map-icon">

            <label class="map-icon__label">Find Us</label>
            <div class="map-icon__item-container cursor-magnetic">

                <svg class="map-icon__item" viewBox="0 0 240 179.7">
                    <title>Untitled-4</title>
                    <path class="map-icon__item--marker-init" d="M176.5,62c0-34-25.5-57-57-57s-57,24-57,57,49.9,112.7,57,112.7S176.5,96,176.5,62Z"/>
                    <path id="map-icon__target" />
                 </svg>
                 <svg class="map-icon__item map-icon__item--overlay" viewBox="0 0 240 179.7">
                    <title>Untitled-4</title>
                    <path class="map-icon__item--marker-circle" d="M143.6,59.7a24.1,24.1,0,1,1-24.1-24.1A24.1,24.1,0,0,1,143.6,59.7Z"/>
                    <path class="map-icon__item--eye-circle-inner" d="M144.1,87.6A24.1,24.1,0,1,1,120,63.5,24.1,24.1,0,0,1,144.1,87.6Z"/>
                    <path class="map-icon__item--eye-circle-outer" d="M179,88a59.1,59.1,0,1,1-59.1-59.1A59.1,59.1,0,0,1,179,88Z"/>
                </svg>
    
            </div>
        </div>
        <div class="frame-border--horizontal frame__bottom--border"></div>
        <img class="frame-floral frame-floral--bottom-middle-left" src="/media/graphic/global/frame-floral-bottom-middle-left.svg" alt="Graphic of one line art styled leaf">

    </div>
    <div class="frame__left">

        <img class="frame-floral frame-floral--left-corner-top" src="/media/graphic/global/frame-floral-left-corner-top.svg" alt="Graphic of line art styled flower">
        <div class="frame-border--vertical"></div>
        <img class="frame-floral frame-floral--left-middle-top" src="/media/graphic/global/frame-floral-left-middle-top.svg" alt="Graphic of one line art styled leaf">
        <div class="menu-icon cursor-magnetic">

            <span class="menu-icon__line menu-icon__line--top"></span>
            <span class="menu-icon__line menu-icon__line--middle"></span>
            <span class="menu-icon__line menu-icon__line--bottom"></span>

        </div>
        <div class="frame-border--vertical"></div>
        <img class="frame-floral frame-floral--left-corner-bottom" src="/media/graphic/global/frame-floral-left-corner-bottom.svg" alt="Graphic of line art styled flower and leaves">
        
    </div>
    <section class="map">

        <div class="map__background cursor-pointer content-container">

            <div id="map__item"></div>

        </div>
        <div class="map__overlay"></div>
        
    </section>
    <section class="menu">
        <div class="menu__container">
            <div class="menu__left">
                <div class="menu__left-container">
                    <a class="menu__logo-link page-transition-target cursor-pointer" id="menu__logo-link--mobile" href="/index.html"><img class="menu__logo" id="menu__logo--mobile" src="/media/graphic/global/logo-text.svg" alt="Text logo for Refresh Beauty Therapy"></a>
                    <nav class="menu__nav">
                   
                        <div class="drop-down-trigger link--hover">
                            <div class="nav-link drop-down__header cursor-pointer">Treatments</div>
                            <div class="menu__drop-down">

                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-eyebrow.html" }}">Tinting & Shaping</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-facial.html" }}">Facial</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-nail.html" }}">Nail</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-makeup.html" }}">Makeup</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-massage.html" }}">Massage</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-men.html" }}">For Men</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-spray-tan.html" }}">Spray Tan</a>
                                <a class="drop-down-link drop-down--hover page-transition-target cursor-pointer" href="{{ relref . "treatment-waxing.html" }}">Waxing</a>
            
                            </div>
                        </div>
                        <a class="nav-link link--hover page-transition-target cursor-pointer" href="{{ relref . "product.html" }}">Products</a>
                        <a class="nav-link link--hover page-transition-target cursor-pointer" href="{{ relref . "about.html" }}">About</a>
                        <a class="nav-link link--hover page-transition-target cursor-pointer" href="{{ relref . "contact.html" }}">Contact</a>

                    </nav>
                    <div class="menu__information">
                        
                        <p class="menu__information-body">Open Monday to Saturday, 9am - 5pm</p>
                        <p class="menu__information-body">Late nights Tuesday to Thursday by appointment</p>
                        <p class="menu__information-body">11/34 Gravatt RD, Papamoa Tauranga</p>

                    </div>
                    <div class="menu__contact" id="menu__contact--mobile">

                        <h5 class="menu__phone">+64 07 575 9703</h5>
                        <div class="menu__divider"></div>
                        <div class="menu__social">
                            <a class="social social--facebook cursor-magnetic" href="https://www.facebook.com/refreshbeautytherapy/">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 256 512" style="enable-background:new 0 0 256 512;" xml:space="preserve">
                                    <path id="facebook-path" style="fill:#9EA69B;" d="M160,176v-64c0-17.7,14.3-32,32-32h32V0h-64c-53,0-96,43-96,96v80H0v80h64v256h96
                                    V256h64l32-80H160z"/>
                                </svg>
                        
                            </a>
                            <a class="social social--instagram cursor-magnetic" href="https://www.instagram.com/refreshbeautytherapy/">
                                
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 510.9 511" style="enable-background:new 0 0 510.9 511;" xml:space="preserve">
                                    <path style="fill:#9EA69B;" d="M509.6,150.2c-1.2-27.2-5.6-45.8-11.9-62c-6.5-17.2-16.5-32.5-29.5-45.3
                                    c-12.8-13-28.3-23.1-45.2-29.4c-16.3-6.3-34.8-10.7-62-11.9C333.6,0.3,324.9,0,255.5,0s-78.1,0.3-105.3,1.5
                                    c-27.2,1.2-45.8,5.6-62,11.9c-17.2,6.5-32.5,16.5-45.3,29.5c-13,12.8-23.1,28.3-29.4,45.2c-6.3,16.3-10.7,34.8-11.9,62
                                    C0.3,177.5,0,186.2,0,255.5s0.3,78.1,1.5,105.3c1.2,27.2,5.6,45.8,11.9,62c6.5,17.2,16.6,32.5,29.5,45.3
                                    c12.8,13,28.3,23.1,45.2,29.4c16.3,6.3,34.8,10.7,62,11.9c27.2,1.2,35.9,1.5,105.3,1.5s78.1-0.3,105.3-1.5
                                    c27.2-1.2,45.8-5.6,62-11.9c34.3-13.3,61.5-40.4,74.8-74.8c6.3-16.3,10.7-34.8,11.9-62c1.2-27.3,1.5-35.9,1.5-105.3
                                    S510.8,177.5,509.6,150.2z M463.6,358.9c-1.1,25-5.3,38.4-8.8,47.4c-8.6,22.3-26.3,39.9-48.5,48.5c-9,3.5-22.6,7.7-47.4,8.8
                                    c-27,1.2-35,1.5-103.2,1.5s-76.4-0.3-103.2-1.5c-25-1.1-38.4-5.3-47.4-8.8c-11.1-4.1-21.2-10.6-29.3-19.1
                                    c-8.5-8.3-15-18.3-19.1-29.3c-3.5-9-7.7-22.6-8.8-47.4c-1.2-27-1.5-35-1.5-103.2s0.3-76.4,1.5-103.2c1.1-25,5.3-38.4,8.8-47.4
                                    C60.7,94,67.2,84,75.8,75.8c8.3-8.5,18.3-15,29.3-19.1c9-3.5,22.6-7.7,47.4-8.8c27-1.2,35-1.5,103.2-1.5c68.3,0,76.4,0.3,103.2,1.5
                                    c25,1.1,38.4,5.3,47.4,8.8c11.1,4.1,21.2,10.6,29.3,19.1c8.5,8.3,15,18.3,19.1,29.4c3.5,9,7.7,22.6,8.8,47.4
                                    c1.2,27,1.5,35,1.5,103.2S464.8,331.9,463.6,358.9z"/>
                                    <path style="fill:#9EA69B;" d="M255.5,124.3c-72.5,0-131.3,58.8-131.3,131.3s58.8,131.3,131.3,131.3c72.5,0,131.3-58.8,131.3-131.3
                                    S328,124.3,255.5,124.3z M255.5,340.7c-47,0-85.2-38.1-85.2-85.2c0-47,38.1-85.2,85.2-85.2c47,0,85.2,38.1,85.2,85.2
                                    C340.7,302.6,302.6,340.7,255.5,340.7z"/>
                                    <path style="fill:#9EA69B;" d="M392,88.4c-16.9,0-30.6,13.7-30.6,30.6c0,16.9,13.7,30.6,30.6,30.6c16.9,0,30.6-13.7,30.6-30.6
                                    C422.7,102.2,408.9,88.4,392,88.4z"/>
                                </svg>
                                
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="menu__right">
                <div class="menu__right-container">

                    <a class="menu__logo-link page-transition-target cursor-pointer" href="/index.html"><img class="menu__logo" src="/media/graphic/global/logo-text.svg" alt="Text logo for Refresh Beauty Therapy"></a>
                    <div class="menu__contact">

                        <h5 class="menu__phone">+64 07 575 9703</h5>
                        <div class="menu__divider"></div>
                        <div class="menu__social">
                            <a class="social social--facebook cursor-magnetic" href="https://www.facebook.com/refreshbeautytherapy/">

                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 256 512" style="enable-background:new 0 0 256 512;" xml:space="preserve">
                                    <path id="facebook-path" style="fill:#9EA69B;" d="M160,176v-64c0-17.7,14.3-32,32-32h32V0h-64c-53,0-96,43-96,96v80H0v80h64v256h96
                                    V256h64l32-80H160z"/>
                                </svg>
                        
                            </a>
                            <a class="social social--instagram cursor-magnetic" href="https://www.instagram.com/refreshbeautytherapy/">
                                
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 510.9 511" style="enable-background:new 0 0 510.9 511;" xml:space="preserve">
                                    <path style="fill:#9EA69B;" d="M509.6,150.2c-1.2-27.2-5.6-45.8-11.9-62c-6.5-17.2-16.5-32.5-29.5-45.3
                                    c-12.8-13-28.3-23.1-45.2-29.4c-16.3-6.3-34.8-10.7-62-11.9C333.6,0.3,324.9,0,255.5,0s-78.1,0.3-105.3,1.5
                                    c-27.2,1.2-45.8,5.6-62,11.9c-17.2,6.5-32.5,16.5-45.3,29.5c-13,12.8-23.1,28.3-29.4,45.2c-6.3,16.3-10.7,34.8-11.9,62
                                    C0.3,177.5,0,186.2,0,255.5s0.3,78.1,1.5,105.3c1.2,27.2,5.6,45.8,11.9,62c6.5,17.2,16.6,32.5,29.5,45.3
                                    c12.8,13,28.3,23.1,45.2,29.4c16.3,6.3,34.8,10.7,62,11.9c27.2,1.2,35.9,1.5,105.3,1.5s78.1-0.3,105.3-1.5
                                    c27.2-1.2,45.8-5.6,62-11.9c34.3-13.3,61.5-40.4,74.8-74.8c6.3-16.3,10.7-34.8,11.9-62c1.2-27.3,1.5-35.9,1.5-105.3
                                    S510.8,177.5,509.6,150.2z M463.6,358.9c-1.1,25-5.3,38.4-8.8,47.4c-8.6,22.3-26.3,39.9-48.5,48.5c-9,3.5-22.6,7.7-47.4,8.8
                                    c-27,1.2-35,1.5-103.2,1.5s-76.4-0.3-103.2-1.5c-25-1.1-38.4-5.3-47.4-8.8c-11.1-4.1-21.2-10.6-29.3-19.1
                                    c-8.5-8.3-15-18.3-19.1-29.3c-3.5-9-7.7-22.6-8.8-47.4c-1.2-27-1.5-35-1.5-103.2s0.3-76.4,1.5-103.2c1.1-25,5.3-38.4,8.8-47.4
                                    C60.7,94,67.2,84,75.8,75.8c8.3-8.5,18.3-15,29.3-19.1c9-3.5,22.6-7.7,47.4-8.8c27-1.2,35-1.5,103.2-1.5c68.3,0,76.4,0.3,103.2,1.5
                                    c25,1.1,38.4,5.3,47.4,8.8c11.1,4.1,21.2,10.6,29.3,19.1c8.5,8.3,15,18.3,19.1,29.4c3.5,9,7.7,22.6,8.8,47.4
                                    c1.2,27,1.5,35,1.5,103.2S464.8,331.9,463.6,358.9z"/>
                                    <path style="fill:#9EA69B;" d="M255.5,124.3c-72.5,0-131.3,58.8-131.3,131.3s58.8,131.3,131.3,131.3c72.5,0,131.3-58.8,131.3-131.3
                                    S328,124.3,255.5,124.3z M255.5,340.7c-47,0-85.2-38.1-85.2-85.2c0-47,38.1-85.2,85.2-85.2c47,0,85.2,38.1,85.2,85.2
                                    C340.7,302.6,302.6,340.7,255.5,340.7z"/>
                                    <path style="fill:#9EA69B;" d="M392,88.4c-16.9,0-30.6,13.7-30.6,30.6c0,16.9,13.7,30.6,30.6,30.6c16.9,0,30.6-13.7,30.6-30.6
                                    C422.7,102.2,408.9,88.4,392,88.4z"/>
                                </svg>
                                
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

</header>