
/* Colour Palette */

$primary-color: #DCADAD;
$secondary-color: #C4CCBF;
$primary-color-accent: #F4DADA;
$primary-color-light: #FCF4F4;
$secondary-color-accent: #D6E2DE;
$secondary-color-light: #ebf1ef;
$secondary-color-dark: #9EA69B;
$cream-color: #FAF8F5;
$white-color: #FFFFFF;
$hard-grey-color: #464646;
$medium-grey-color: #707070;
$soft-grey-color: #B4B4B4;
